@import "reset.css";

body {
  --nav-width: 200px;
  margin: 0 0 0 var(--nav-width);
  background-color: bisque;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #222222;
}

.nav_item {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.home {
  background: darkgrey;
}

.nav_item:hover {
  background: rgba(255, 255, 255, 0.05);
}

h1 {
  font-size: 5vh;
  margin-bottom: 10px;
}

.mid {
  text-align: center;
}

h2 {
  font-size: 3vh;
  text-align: center;
}

ul {
  font-size: 2vh;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #009579;
}

span {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

span:hover {
  color: #6a00ff;
}

.link-container {
  text-align: center;
}

.link-box {
  padding: 20px 0px 20px 0px;
  display: inline-block;
  width: 170px;
  height: 50px;
  text-align: center;
}

.page {
  width: 50%;
  margin: 0 auto;
  height: 30vh;
  border: 1px solid #4b4b4b;
  display: flex;
  align-items: center;
  justify-content: center;
}
